  <h2>
  Some short-hand trick of Jupyter
    A -- for getting a new cell above current working cell             (note : this will work only when we click on the cell and not inside of the cell )
    B -- for getting a new cell below  current working cell      same as above
    
    M -- for converting code cell to markdown cell
    Y -- for converting markdown cell to code cell
    dd -- press twice d -- for deleting that cell
    z -- for undo that we done task on that cell (note : not to undo content inside the cell)
    
   </h2>

# Now we are gonna learn Some Tricks for Markdown language its similar to that of the html

single hash works as h1 in html 
example :
# This is written using single hash
## This is written using 2 hash
### This is written using 3 hash
....
###### and so on .. till  6 hash


Image using this format  ![]()    as bracket is used for naming image and in parenthesis we give link of the image 
![Tux, the Linux mascot](/assets/images/tux.png)
example :
![](https://www.qries.com/images/banner_logo.png)

 double star for bold -- example :   Hi myself **Mitesh**   and  **br** tag new line for <br>
 single starf for italic -- example : Hi myself *Mitesh*    and  triple star for bold and italic  -- example : Hi myself ***Mitesh***

 # for order list we use    this  -
 
 ## example 1  :
 - First
 - second
 - Third 
 - forth 
 
 ##  example 2 :
 - First item
 - Second item
 - Third item
    - Indented item
    - Indented item
 - Fourth item
 
 
 # Horizontal Rules :
 ## To create a horizontal rule, use three or more asterisks (***), dashes (---), or underscores (___) on a line by themselves.
 ## example :
    
hi ....

 ---
 
   ... mitesh
   
# Blockquotes :
   
## To create a blockquote, add a > in front of a paragraph.
> Hi myself mitesh rege , this is a blockquotes

In [1]:
# check the version of python 
import sys

print(sys.version)

3.10.0 (tags/v3.10.0:b494f59, Oct  4 2021, 19:00:18) [MSC v.1929 64 bit (AMD64)]

In [13]:
a=10
print(float(a)) # type casting

10.0

In [15]:
#stiring 
'hi'

'hi'

In [17]:
"hello"

'hello'

In [19]:
int('one') # error    so cant do like this

ValueError: invalid literal for int() with base 10: 'one'

In [22]:
# ascii to no. and vice varsa 
print(chr(97))  
print(ord('a'))

a
97

In [33]:
# bool - only 0 to false
print(bool(0))
print(bool(1))
print(bool(0.5))
print(bool(100))
print(bool(0.9))
print(type(True))
print(type('True'))
print(type(False))
print(type(" "))

False
True
True
True
True
<class 'bool'>
<class 'str'>
<class 'bool'>
<class 'str'>

###  Expressions ans variables

In [2]:
# Task : Replace : 'hello what is this'   with     'Hello , What is this ?'
# Soln :
phase1 = 'hello what is this'
soln    = phase1[0].upper() + phase1[1:5] + ' , ' + phase1[6].upper() + phase1[7:] + ' ?' 
print(soln)

Hello , What is this ?

## 7 th Jan Lecture Starts Here

## Tuples and List

In [2]:
tup = (10,'aa',4)
tup

(10, 'aa', 4)

In [3]:
type(tup)

tuple

In [8]:
print(tup[0])
print(tup[1:])  # Slicing 
print(tup[-1])
print(tup[-2])
print(type(tup[0]))
print(type(tup[1]))
print(type(tup[2]))

10
('aa', 4)
4
aa
<class 'int'>
<class 'str'>
<class 'int'>

In [11]:
# Concatenatte 
tup1 =tup + (1,2)
print(tup1)
# slicing
tup1[0:3]

(10, 'aa', 4, 1, 2)

(10, 'aa', 4)

In [12]:
# Sorted func in tuple 
tup3 = (100 , 4 , 6 ,0 , 153, -5 ,1103)
print(sorted(tup3))

[-5, 0, 4, 6, 100, 153, 1103]

In [17]:
# Nested Tuple 
x = ( 1 , 8 , ('a' , 'b') , 5 , (5,1.0))
print(len(x)) 
print(x[0])
print(x[2][1])
print(type(x[4]))

5
1
b
<class 'tuple'>

## Lists

In [18]:
lst = [5,'mitesh',100]
print(lst)
print(lst[1])
print(lst[1:])

[5, 'mitesh', 100]
mitesh
['mitesh', 100]

In [19]:
# Nested List 
nestedL = [1,2.0,[100,500,'Mitesh'],'Rege','Xie',-100]
nestedL # Here Every thing llly to tuple

[1, 2.0, [100, 500, 'Mitesh'], 'Rege', 'Xie', -100]

## List Operations
1. Adding
- .append()
- .extend
2. Deleting
- .pop()

In [20]:
l1 = [1,2,5,7,100,500,9,-5,1.0,80]
l1.extend(['a','b'])  # Here Giving a list to append whereas in append it does add only one element 
l1

[1, 2, 5, 7, 100, 500, 9, -5, 1.0, 80, 'a', 'b']

In [24]:
# l1.append(200.0)
# l1.append(200.0)
l1.append('Hi')
l1

[1, 2, 5, 7, 100, 500, 9, -5, 1.0, 80, 'a', 'b', 200.0, 200.0, 'Hi']

In [25]:
# pop delets last by default if not given position 
l1.pop()

'Hi'

In [26]:
l1 # look hi got removed

[1, 2, 5, 7, 100, 500, 9, -5, 1.0, 80, 'a', 'b', 200.0, 200.0]

In [27]:
l1.pop(1)

2

In [28]:
l1 # see i=2 got removed

[1, 5, 7, 100, 500, 9, -5, 1.0, 80, 'a', 'b', 200.0, 200.0]

## Dictionary 
has ***Key***  (only be immutable datatype)  and ***Values***  ( any datatype )pairs

In [40]:
dic1= {
    'Key1': 'Value1' ,
    'Key2': 'Value2' ,
    'Key3': 'Value3' ,
}
dic1

{'Key1': 'Value1', 'Key2': 'Value2', 'Key3': 'Value3'}

In [32]:
# note key cant be any immutable = unchangeable datatype as keycant be list 
dict2 = {'abc':156 , 5:46 , (4,5):'mitesh' , (1,2):[11,2,3,5,77]}
dict2

{'abc': 156, 5: 46, (4, 5): 'mitesh', (1, 2): [11, 2, 3, 5, 77]}

In [33]:
# access values by using key
dict2['abc']   
# here if wrong key entered to acces value then error name as key error not index error as that in list/tuple

156

In [34]:
# changing the values of a key
dict2[5]=50
dict2

{'abc': 156, 5: 50, (4, 5): 'mitesh', (1, 2): [11, 2, 3, 5, 77]}

In [35]:
# Operations
dict2.values()

dict_values([156, 50, 'mitesh', [11, 2, 3, 5, 77]])

In [36]:
dict2.keys()

dict_keys(['abc', 5, (4, 5), (1, 2)])

In [37]:
type(dict2)

dict

In [45]:
'abc' in dict2

True

In [46]:
'mitesh' in dict2.values()

True

In [44]:
'Value1' in dic1.values()

True

#  4 th of Jan Lecture starts

## Conditional Operators  & Statements

- Equality                  :   ==
- less than & greater tha   : <  &  >
- Greater than and equal to :   >=
- Less than and equal to    :   <=

In [35]:
a = 5
print(a==6)
print(a==5.0)
print(a!=4)

False
True
True

In [30]:
i=4
print(i<6)
print(i<4)
print(i<6)
print(i<=16)
print(i>=4)

True
False
True
True
True

In [1]:
# Branching 
# If Else 
#Example :
age = 20
if age >= 18 :
    print('Congo , You are eligible for a Driving License ')
else:
    print('Sorry , Under 18 Its not allowed to get license ')
    
# Note :   (if true ) => then only executed 
# Example 2 :
if True :
    print('yes')
    
# Example 3 :   # this will not get printed
if False :
    print('yes')
    
# Note for example 4 : nothing is also false  and every other than this is true 
# Example 4 : 
if "" :  #Since Its nothing then considered as  false 
    print("True")
# Example 5 : Contradict to exg4
if " " :
    print("Any String other than nothing is considered as true hence this gets printed ")

Congo , You are eligible for a Driving License
yes
Any Sting otherthan nothing is considered as true hence this gets printed

In [4]:
   
# Example 6 : for if-elif-else
x = int(input("Enter Your Age :"))
if x>=18:
    print("Eigible")
elif x<18 & x>15 :
    print("You are eligible for learning no for drivig license")
else :
    print("Sorry not eligible ")

Enter Your Age :5
Sorry not eligible

In [10]:
# Range concept 
range(5)

range(0, 5)

In [11]:
# loop in python
for x in range(5):
    print(x)

0
1
2
3
4

In [16]:
lst=[100,54,6,400,8]
# method 1 :
n = len(lst)
for x in range(n):
    print(lst[x])
print()    
# method 2 :
for x in lst :
    print(x)

100
54
6
400
8

100
54
6
400
8

## Function 
- Predefined function 
- User Defined Function

In [18]:
def fun():
    print("Hi this is my firts function")
    
fun()

Hi this is my firts function

In [20]:
# Take one no. and give by adding 1 
def add_one(a):
    return a+1
add_one(6)

7

# Start of 9th jan Lecture