## Regression predicts the continuous 

## wheare as clustering is to predict the discrite data

## Linear Regression ?
- " Linearity " - in algebra it refers to a linear relationsip between two or more variables

- eqation of the straight line is : y = mx + b
- m = solpe
- b = the intercept

- The goal of linear regression algo : Give the most optimal value for *m* and *b*

- What is LR doing ? 
- It is choosing the best oout of those lines,depending on the least error 

- If there are more diciding variables : Multiple LR
- *y=b + m1x1 + m2x2 + m3x3 + .... + mnxn*

- This eqn will be a plane in 3 dimensions

## Example :
 y - % score
 x1
 x2

- **dependent variable/target/label**  : this is what we are wanting to predict

- **independent variable/features/dumentions/attributes** : All the other data that we are using to predict the dependent variable .

### dependent variable on x axis and other in y-axis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
data =pd.read_csv("student_scores.csv")

In [5]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [6]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [8]:
# Start ploting our data on a 2D graph
data.plot(x='hours',y='scores',data)
plt.ylabel('%score')

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_2564/3021261819.py, line 2)

In [11]:
# preparing the data
x= data.iloc[:,:-1].values
x

array([[2.5],
       [5.1],
       [3.2],
       [8.5],
       [3.5],
       [1.5],
       [9.2],
       [5.5],
       [8.3],
       [2.7],
       [7.7],
       [5.9],
       [4.5],
       [3.3],
       [1.1],
       [8.9],
       [2.5],
       [1.9],
       [6.1],
       [7.4],
       [2.7],
       [4.8],
       [3.8],
       [6.9],
       [7.8]])

In [13]:
y= data.iloc[:,1].values
y

array([21, 47, 27, 75, 30, 20, 88, 60, 81, 25, 85, 62, 41, 42, 17, 95, 30,
       24, 67, 69, 30, 54, 35, 76, 86], dtype=int64)